<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Resources API</title>

		<!-- ICON -->
		<link rel="icon" href="assets/logo.svg" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<div class="frame">
			<nav>
				<img src="assets/logo.svg" alt="logo" />
				<button id="contributors">Contributors</button>
			</nav>
			<main>
				<section class="description">
					<h1>Coding Resources API</h1>
					<p>
						Serves educational content for a wide
						variety of computer science topics, languages and
						technologies relevant to web development.
						Search for coding resources by relevant keywords.
					</p>
				</section>
				<section class="api-test">
					<form action="">
						<input
							type="text"
							name=""
							value=""
							placeholder="keyword"
						/>
						<button id="keyword-btn" type="button">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
						<button type="submit" style='display: none;'></button>
					</form>
					<div class="result">
						<div class='scroll-container'>
							<ul id="result-list">
								<!-- Loop through resources array and render each object to the DOM -->
								<% for(let i = 0; i < resources.length; i++) { %>
									<li>
										<!-- JSON Format for DOM rendering -->
										<!-- Add indentation, line break and quotes around each key's value -->
										<pre class="json">
											<code>
												{
													<div class="indent">
														<h4>name: '<%= resources[i].name %>',</h4>
														<h5>url: '<a href=<%= resources[i].url %> target="_blank"><%= resources[i].url %></a>',</h5>
														<h4>description: '<%= resources[i].description %>'</h4>
														<h6 class="text-truncate">keywords: [<%= resources[i].keywords.map(keyword => `'${keyword}'`).join(", ") %>]</h6>
													</div>
												},
											</code>
										</pre>
									</li>
								<% } %>
							</ul>
						</div>
					</div>
				</section>
			</main>
			<section class="documentation">
				<h2>Documentation</h2>
				<section class='object-table'>
					<h3>There are 3 properties/keys that come with each resource object:</h3>
					<table class="darkTable">
						<thead>
						<tr>
						<th id='property'>PROPERTY</th>
						<th id='description'>DESCRIPTION</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td id='name'>name</td><td>[String] Name or title of the document, article or website. </td></tr>
						<tr>
						<td id='url'>url</td><td>[String] Link to website.</td></tr>
						<tr>
						<td id='keywords'>keywords</td><td id='array'>[Array] Relevant keywords related to the resource's topic.</td></tr>
						</tbody>
						</tr>
					</table>
				</section>
				<h2>Endpoints</h2>
				<section class='endpoints'>
					<div class='url'>
						<h3>Direct link to the complete resources object or a filtered object after using a keyword:</h3>
						<code>https://coding-resources-api.herokuapp.com/api</code>
						<h4>*The "/api" endpoint will return every resource object in an array.</h4>
						<code>https://coding-resources-api.herokuapp.com/api/<span>&lt;keyword&gt;</span></code>
						<h4>*The "/api/keyword" endpoint accepts a keyword that will be used to search through an array of resources by the content the resource provides.</h4>
					</div>
					<div class='js-fetch'>
						<h3>Example code-block of how to fetch with JavaScript:</h3>
						<code id='js-example'>
							<button id="copy-btn" title="copy to clipboard">
								<i class="fa fa-clipboard copy-icon" aria-hidden="true"></i>
							</button>
							const URL = `https://coding-resources-api.herokuapp.com/api/<span>${keyword}</span>`;<br><br>
							fetch(URL)<br>
							&emsp;&emsp;&emsp;.then(res => res.json())<br>
							&emsp;&emsp;&emsp;.then(data => console.log(data))<br>
							&emsp;&emsp;&emsp;.catch(err => console.error(err));
						</code>
					</div>
				</section>
			</section>
			<h2 id='contributors-title'>Contributors</h2>
			<section class="contributors">	
				<div class='section'>
					<div class='card' id='jacob'>
						<img src="assets/Jacob.jpg" alt="Jacob's photo">
						<div class='cont-info'>
							<h4>Jacob Asper</h4>
							<div class='icons'>
								<a href='https://twitter.com/asper_jacob' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/jacobasper191/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/20jasper' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='erika'>
						<img src="assets/Erika.jpg" alt="Erika's photo">
						<div class='cont-info'>
							<h4>Erika Teal</h4>
							<div class='icons'>
								<a href='https://twitter.com/erikateal_' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/erika-teal/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/erikateal' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='alexisintech'>
						<img src="assets/Alex.png" alt="Alexis' photo">
						<div class='cont-info'>
							<h4>Alexisintech</h4>
							<div class='icons'>
								<a href='https://twitter.com/alexisintech/' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/alexisintech/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/alexisintech/' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class='section'>
					<div class='card' id='brian'>
						<img src="assets/Brian.png" alt="Brian's photo">
						<div class='cont-info'>
							<h4>Brian Schnee</h4>
							<div class='icons'>
								<a href='https://twitter.com/BrianSchneeDev' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/brian-schnee-dev/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/brianschnee' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='alondra'>
						<img src="assets/Alondra.png" alt="Alondra's photo">
						<div class='cont-info'>
							<h4>Alondra Mora</h4>
							<div class='icons'>
								<a href='https://twitter.com/moracodes' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/alondramora/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/alondramora' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='bianca'>
						<img src="assets/Bianca.jpg" alt="Biancas's photo">
						<div class='cont-info'>
							<h4>Bianca T.</h4>
							<div class='icons'>
								<a href='https://twitter.com/bytesbybianca' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/biancatogonon/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/bytesbybianca' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='jacobg'>
						<img src="assets/JacobGood.jpg" alt="Jacob Good's photo">
						<div class='cont-info'>
							<h4>Jacob Good</h4>
							<div class='icons'>
								<a href='https://twitter.com/jacobegood' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/jacobegood/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/Snake0good' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class='section'>
					<div class='card' id='sebastian'>
						<img src="assets/Sebastian.png" alt="Sebastian's photo">
						<div class='cont-info'>
							<h4>Sebastian O.</h4>
							<div class='icons'>
								<a href='https://twitter.com/dev_ethos' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/sebastianocospina/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/Ethodeus' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='alyssha'>
						<img src="assets/Alyssha.jpg" alt="Alyssha's photo">
						<div class='cont-info'>
							<h4>Alyssha L.</h4>
							<div class='icons'>
								<a href='https://twitter.com/AlysshaLewin' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/alysshalewin/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/AlysshaLewin' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
					<div class='card' id='dana'>
						<img src="assets/Dana.jpg" alt="Dana's photo">
						<div class='cont-info'>
							<h4>Dana Lee</h4>
							<div class='icons'>
								<a href='https://twitter.com/danamitecoder' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/danalee1/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/Danamitecoder' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<footer>
				<h2>Thank You!</h2>

				<br/>
				<p>
				- THE API ADMINISTRATION.<br><br>
				<a href='https://github.com/the-api-administration/coding-resources-api' target='_blank'><i class="fa-brands fa-github"></i></a>
				<br><br>
				Bugs? Features? Please report them here: <a href="https://github.com/the-api-administration/coding-resources-api/issues" target='_blank'>GitHub</a>.
				</p>
				<hr>
				<p>We would love to see what you are making with this API. Please tweet at us!</p>
			</footer>
		</div>
	</body>
	<script src="js/main.js"></script>
</html>
